<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <sphinx translate="label" module="sphinx">
            <label>Settings Sphinx</label>
            <sort_order>100</sort_order>
        </sphinx>
    </tabs>
    <sections>
        <sphinx translate="label" module="sphinx">
            <label>Settings Sphinx</label>
            <tab>sphinx</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <sphinx translate="label" module="sphinx">
                    <label>Use sphinx</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sphinx_enable translate="label">
                            <label>Enable sphinx search: </label>
                            <comment>yes/no send test mode</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </sphinx_enable>
                        <wordsform_path translate="label">
                            <label>Path to wordsform</label>
                            <comment>do not edit this path</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wordsform_path>
                        <host translate="label">
                            <label>Host address sphinx deamon</label>
                            <comment>Host address sphinx server</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </host>
                        <port translate="label">
                            <label>Port sphinx deamon</label>
                            <comment>Port for connect to sphinx</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </port>
                    </fields>
                </sphinx>
            </groups>
        </sphinx>
    </sections>
</config>